.hijo {
   margin-top: 5vh;
   margin-left: 4vw;
   
   
   font-family: monospace;
}


.cardDiv {
   background-color: rgba(169, 169, 169, 0.356);
   border-style: solid;
   border-color: azure;
   border-radius: 15px;
   min-width: 250px;
   height: 350px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-evenly;   
   color: white;
}

.hijo img {
   max-height: 150px;
   max-width: 200px;
}

.nombre {
   font-size: 25px;
   font-weight: bolder;
}

 .cardText {
   font-size: 20px;
 
  
}

.cardsDiv {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
}

.powerChart{
   margin-top: 15px;   
}

.barContainer{
   width: 50%;
   height: 1.15em;
   border-style: solid;
   border-radius: 6px;
   border-width: 2px;
   border-color: white;
   display: flex;
   flex-direction: column;
   justify-content: center;  
   align-items: flex-start;
   z-index: 2;
   
}

.barChart{       
   color: rgb(95, 228, 95);
   background-color: rgb(95, 228, 95);
   border-radius: 5px;
   
       
}
