.hijo {
   margin-left: 5vw;
   margin-right: 5vw;
   margin-bottom: 5vh;
   font-family: monospace;
}


.cardDiv {
   background-color: rgba(169, 169, 169, 0.356);
   border-style: solid;
   border-color: azure;
   border-radius: 15px;
   min-width: 350px;
   height: 350px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   color: white;
}

.hijo img {
   max-height: 150px;
}

.nombre {
   font-size: 25px;
   font-weight: bolder;
}

.listDiv .cardText {
   font-size: 20px;
   line-height: 5px;
}

.cardsDiv {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
}

.powerChart{
   margin-top: 15px;
}
.cellChart{
   width: 100%;  
}
.barChart{
   margin-top: 15px;
   color: lime
}
